.banner{
  text-align: center;
  position: relative;
  padding-top: 10px;
  padding-bottom: 60px;
}
.banner img{
  width: 100%;
  height: auto;
  display: block;
}
.banner .img2{
  display: none;
}
.banner .img3{
  display: none;
}
.banner .pointer{
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 20px;
  text-align: center;
}
.banner .pointer div{
  width: 20px;
  height: 20px;
  border-radius: 10px;
  display: inline-block;
  margin: 0 8px;
  border: 2px solid #333;
  cursor: pointer;
}
.banner .pointer div:hover{
  background: #333;
}
.banner .pointer div.select{
  background: #333;
}

.title{
  color: #f91302;
  text-align: center;
  font-size: 24px;
  line-height: 70px;
  font-weight: bolder;
}
.answer{
  font-size: 16px;
  line-height: 24px;
  color: #9932CD;
  padding-bottom: 40px;
}
.answer div{
  padding: 10px 0;
}