.title{
  font-size: 36px;
  color: #673ab7;
  line-height: 50px;
  padding: 20px 0;
  text-align: center;
  font-weight: bold;
}


.main{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding-bottom: 50px;
}
.form{
  flex: 1;
  padding-right: 20px;
  display: flex;
  flex-wrap: wrap;
}

.input{
  padding-top: 20px;
  padding-right: 40px;
  width: 100%;
}
.input div{
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  color: #E91E63;
  padding-bottom: 8px;
}
.input input{
  width: 100%;
  font-size: 18px;
  line-height: 26px;
  color: #111;
  padding: 6px 12px;
}
.check{
  font-size: 18px;
  line-height: 26px;
  color: #111;
  padding: 15px 0;
}
.check input{
  margin-right: 8px;
}

.submit{
  width: 100%;
  padding: 10px 0;
}
.submit button{
  color: #222;
  font-weight: bold;
  font-size: 20px;
  line-height: 36px;
  padding: 0 15px;
  cursor: pointer;
}

.right{
  width: 220px;
  height: 320px;
  padding: 10px 20px;
  background: #fbb8ce;
  border-radius: 6px;
  margin-top: 20px;
}
.right .title{
  color: #673AB7;
  font-size: 26px;
  line-height: 32px;
  padding: 20px 0;
  text-align: left;
}
.right .login{
  border: 1px solid #E91E63;
  text-align: center;
  font-size: 24px;
  color: #E91E63;
  line-height: 44px;
  background: #FCE4EC;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 3px;
}

@media screen and (max-width: 700px) {
  .main{
    display: block!important;
  }
}
