
.nav-container {
  border-bottom: 1px solid #eee;
  box-shadow: 0px 0px 20px #eaeaea;
  position: fixed;
  z-index: 2;
  top: 0;
  width: 100%;
  background: #fff;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background: #fff;
}

.nav .list {
  flex: 1;
  text-align: center;
  font-size: 18px;
  line-height: 70px;
  font-weight: bold;
  position: relative;
}

.nav .logo{
  width: 25%;
}
.nav .logo img{
  width: 100%;
  height: auto;
}

.nav .Prevention {
  color: #3f51b5;
}

.nav .Shop {
  color: #4caf50;
}

.nav .Signup {
  color: #f91302;
}

.nav .Login a {
  color: #673ab7;
}

.nav .Login {
  position: absolute;
  top: 70px;
  width: 100%;
  border: 1px solid #8646f7;
  box-shadow: 0px 0px 20px #eaeaea;
  display: none;
  background: #8646f7;
}

.nav .list:hover .Login {
  display: block;
}

@media screen and (max-width: 700px) {
  body {
    padding-top: 150px;
  }
  .nav .logo {
    width: 100%;
  }
  .nav .logo img{
    width: 300px;
    height: auto;
  }
}