
.sub-title{
  font-size: 28px;
  color: #f91302;
  font-weight: bolder;
  line-height: 40px;
  padding-top:30px ;
  padding-bottom: 24px;
}
.text{
  font-size: 19px;
  line-height: 26px;
  padding-bottom: 24px;
  font-weight: bold;
  color: #3f51b5;
}
.text-ul{
  padding-bottom: 24px;
}
.text-ul .li{
  margin-bottom: 12px;
  line-height: 22px;
  font-size: 16px;
  color: #9932CD;
}
.text-ul .li div{
  overflow: hidden;
}
.text-ul .li .pointer{
  width: 12px;
  height: 12px;
  border-radius: 12px;
  float: left;
  margin-right: 10px;
  margin-top: 5px;
}
.title{
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  padding: 10px 0 20px;
  color: #3f51b5;
}

.video{
  text-align: center;
  position: relative;
  padding:  10px 0;
}
.video iframe{
  width: 100%;
}

.quiz{
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  padding: 20px 0 10px;
  color: #3f51b5;
}
.hint{
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}
.issue{
  color: #111;
  font-size: 16px;
  line-height: 24px;
  margin-top: 15px;
}
.issue div{
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  width: 15px;
  height: 15px;
  border-radius: 15px;
}
.input{
  color: #111;
  font-size: 16px;
  line-height: 24px;
  padding-left:25px;
}
.input .radio{
  margin-right: 10px;
}
.input .inputtext{
  color: #111;
  font-size: 16px;
  line-height: 24px;
  width: 240px;
  margin: 10px 0;
  padding: 6px;
  outline: none;
  border-radius: 5px;
  border: 1px solid #737373;
}
.inputtext.red{
  border: 1px solid #fd1200;
  background: #ffa7a7;
}
.submit{
  text-align: right;
}
.submit button{
  color: #222;
  font-weight: bold;
  font-size: 20px;
  line-height: 36px;
  padding: 0 15px;
  cursor: pointer;
}